* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.map-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.map-container {
  display: flex;
  flex: 1;
  position: relative;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}