.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.map-editor-container {
  display: flex;
  flex: 1;
}

.map-container {
  flex: 1;
  position: relative;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}